/* Variables*/
 /* 
 Mobile: 375px 
 Desktop: 1440px
 */ 

 @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{

    --clr--almostWhite: hsl(0, 0%, 98%);
    --clr--mediumGray: hsl(0, 0%, 41%);
    --clr--almostBlack: hsl(0, 0%, 8%);

    --ff--epilogue: 'Epilogue', sans-serif;
}



/* Resets  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
picture,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* Podem afegir els següents estils més comuns a la pàgina*/
  /* font-family: ; */
  /* font-size: ; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* General classes */
body{
    font-family: var(--ff--epilogue);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--clr--almostBlack);
}

ul li{
    margin-block: 0.5em;
}

.btn{
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
}

.btn-register{
    background-color: transparent;
    border: 2px solid --clr--almostBlack;
    padding: 0.5em 1em;
}

.btn-learn{
    background-color: transparent;
    border: 1px solid --clr--almostBlack;
    border-radius: 1em;
    padding: 0.8em 1.6em;
    font-weight: bold;
    margin-block: 1.5em;
}

/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    margin-right: auto;
    margin-left: 5em;
}

nav .menu .item{
    position: relative;
    cursor: pointer;
}


.submenu {
    display: none;
    position: absolute;
    background-color: var(--clr--almostWhite);
    margin-top: 1em;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.submenu.show{
  display: block;
}

nav .menu .item img{
    display: inline-block;
    margin-left: 0.3em;
}
  
nav .menu .item img.show {
   transform: rotate(180deg);
   transition: transform .35s ease-in-out;
}

nav .menu.menu-login .item-register{
    border: 1px solid --clr--almostBlack;
    border-radius: 4px;
}

nav input[type="checkbox"]{
    display: none;
}

nav .menu-btn i{
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media (max-width: 575px) {
    
    nav .menu-btn i{
      display: block;
    }

    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }

    nav .menu{
      position: fixed;
      right:-100%;
      background: var(--clr--almostWhite);
      height: 100vh;
      width: 100%;
      display: block;
      transition: all 0.3s ease;
      padding: 2em;
      font-size: 1.2em;
    }

    nav .menu li{
      margin-block: 1em;
    }

    nav .menu{
      top: 62px;
      height: auto;
    }

    #click:checked ~ ul.menu{
      right: 0;
    }

    .submenu {
      display: none;
      position: inherit;
      padding: 0.5em 2em;
      box-shadow: none;
      margin-top: 0;
    }

    .btn-register{
      width: 100%;
    }

    
}


/* End Nav Bar */


/* Main */
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    gap: 5em;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 2em;
}

.main .main-left .title{
    font-size: 5.5em;
}

.main .main-left:nth-child(2){
    margin-bottom: 1.5em;
}

.main .main-left p{
    max-width: 70%;
    font-size: 1.2em;
    margin-block: 1.5em;
    color: var(--clr--mediumGray);
}

.main .main-left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media(max-width: 575px){
  .main{
        flex-direction: column;
        margin: 0 auto;
        padding: 1em;
  }

  .main .main-left{
        order: 2;
        text-align: center;
  }

  .main .main-left .title{
      font-size: 2.1em;
      display: inline-block;
  }
  
  .main .main-left:nth-child(2){
      margin-bottom: 1.5em;
  }
  
  .main .main-left p{
      max-width: 100%;
      margin-block: 1.5em;
      color: var(--clr--mediumGray);
  }

  .btn-learn{
    background-color: var(--clr--almostBlack);
    color: var(--clr--almostWhite);
  }

}


